/* GAME */

.game {
    border: 5px solid var(--color_clavit);
    border-radius: 20px;
    padding: 5px;
    height: 400px;
    width: 300px;
}

#boardgame {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
    height: 360px;
    width: 300px;
}

/* INFO */
.info {
    height: 10%;
}

.score_info {
    *justify-content: space-between;
}

/* CARDS */

.card, .card-hidden, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--color_clavit);
    border-radius: 10px;
    height: 60px;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    width: 40px;
}

.card {
    *background-color: rgb(225, 225, 225);
    background-image: url(../assets/4.png);
}

.card:hover {
    cursor: pointer;
}

.card-hidden {
    border: none;
    background-color: transparent;
    background-image: none;
}

/* ASSETS */
.c1 {
    background-image: url(../assets/);
}
.c2 {
    background-image: url(../assets/);
}
.c3 {
    background-image: url(../assets/);
}
.c4 {
    background-image: url(../assets/);
}
.c5 {
    background-image: url(../assets/);
}
.c6 {
    background-image: url(../assets/);
}
.c7 {
    background-image: url(../assets/);
}
.c8 {
    background-image: url(../assets/);
}
.c9 {
    background-image: url(../assets/);
}
.c10 {
    background-image: url(../assets/);
}

/* RESTART BUTTONS */
button#restart_turn, button#restart_game {
    display: none;
    background-color: var(--color_clavit);
    border-radius: 48%;
    padding: 8px 15px;
}

button#restart_turn:hover, button#restart_game:hover {
    cursor: pointer;
}

button#restart_turn:focus, button#restart_game:focus {
    outline: none;
}

.message:active button#restart_turn, .message:active button#restart_game {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

/* BUTTONS ADD & STOP */
#stop {
    border: 2px solid rgb(205,0,0);
    background-image: url(../img/buttons_icon/stop.png);
}

#add {
    border: 2px solid var(--color_clavit);
    background-image: url(../img/buttons_icon/add.png);
}

#stop, #add:hover {
    cursor: pointer;
}

#stop:focus, #add:focus {
    outline: none;
}

#stop:active, #add:active {
    animation: brightness 1s;
}

@keyframes brightness {
    from {filter: brightness(1);}
    to {filter: brightness(1.2);}
}