:root {
    --width_square_min_500: 29px;
    --width_square_min_700: 30px;
    --width_square_min_900: 40px;
    --width_square_min_1100: 45px;
    --width_square_min_1300: 50px;
    --color_snake: rgb(136, 209, 26);
    --color_clavit: #3CF3BE;
}

#boardgame {
    display: grid;
    grid-template-columns: repeat(10,var(--width_square_min_500));
    column-gap: 1px;
    row-gap: 1px;
    justify-content: center;
    align-self: center;
    font-size: 24px;
}
.square {
    height: var(--width_square_min_500);
    width: var(--width_square_min_500);
}
.empty {
    *background-color: gainsboro;
}
.snake {
    background-color: var(--color_clavit);
    border-radius: 20px;
    *color: rgb(255, 227, 68);
}
.head {
    background-color: var(--color_clavit);
    border-radius: 20px;
}
.tail {
    background-color: var(--color_clavit);
    border-radius: 20px;
}

.food {
    *background-color: var(--color_clavit);
    background-color: red;
    border-radius: 20px;
    animation: blinker 3s infinite;
}

.special-food {
    *background-color: var(--color_clavit);
    background-color: blue;
    border-radius: 20px;
    animation: blinker 1.5s infinite;
}

.hidden {
    display: none;
}

@keyframes blinker {
    0% {filter: opacity(1);}
    25% {filter: opacity(0);}
    50% {filter: opacity(1);}
    75% {filter: opacity(0);}
    100% {filter: opacity(1);}
}

.win {
    background-color: rgba(172, 255, 47, 0.5);
    border: 2px solid green;
}

.lose {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}